/* .modal {
  display: none;
  z-index: 10; 
  outline: 9999px solid rgba(0, 0, 0, 0.5);
  opacity: 1;
    visibility: visible;
} */

.fade:not(.show) {
  opacity: 1;
}
/* 
.modalContentActive {
  z-index: 99999999;
  position: absolute;
} */
